body {
    background-color: #0A0C1B;
    color: white;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.flex{
    display: flex;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container {
    background-color: #1B1938 ;    
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 570px;
    height: 473px;
}

h1 {
    font-size: 33px;
    text-align: left;
}

.color-insights{
    color: #AA5CDB
}

.flex-title {
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin: 0 auto;
}
  
  .description {
    text-align: left;
    color: #BDBCC5;
    font-size: 15px;

  }


img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 570px;
    height: 473px;
}

.camada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 192, 203, 0.5);
  }

.flex-list{
    display: flex;
    justify-content: space-between;

}

ul {
    list-style: none;
    text-align: left;
    padding: 0px;
    padding-top: 30px;

}

ul li:first-child {
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    align-content: center; 
  }

  ul li:last-child {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    align-content: center; 
    color: #BDBCC5;
    font-weight: bold;
    margin-top: 11px;
  }

.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-weight: bold;
    line-height: 25px;
    font-size: 12px;
}

.attribution a { 
    color: hsl(228, 54%, 58%); 
    text-decoration: none;
}

@media (max-width: 800px) {
    main {
        flex-direction: column-reverse;
        padding: 100px;
    }

    img {
        border-top-left-radius: 10px;
        height: 400px;
    }
    
    .container {
        border-bottom-right-radius: 10px ;
    }
    
}